.Logo {
  display: flex;
  align-items: center;
  background-color: white;
}

.Logo img {
  margin: 5px;
  height: 60px;
  width: 80px;
}

.Logo span {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}
