.Orders {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 50px;
}

.Orders h3 {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
