.BouquetControl {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.BouquetControl .label {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.8rem;
}

.BouquetControl button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #333333a8;
  color: white;
  border-radius: 100%;
  cursor: pointer;
}

.BouquetControl button:disabled {
  opacity: 0.5;
}

.BouquetControl button:not(:disabled):hover {
  opacity: 0.8;
}

@media (max-width: 650px) {
  .BouquetControl .label {
    font-size: 0.9rem;
  }
}
