.BouquetControls {
  background-color: #f8e2d94d;
  width: 300px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (max-width: 650px) {
  .BouquetControls {
    margin-top: 20px;
  }
}
