.BouquetControls {
    border: 3px solid rgb(63, 57, 62);
    background-color: rgba(195, 116, 202, 0.438);
    width: 300px;
    padding-top: .5rem;
    padding-left: .5rem;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }