.Footer {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  width: 100%;
  height: 300px;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.Footer ul {
  margin: 0 auto;
}

.Footer ul li {
  list-style: none;
  padding: 2px;
}

@media (max-width: 650px) {
  .Footer ul {
    font-size: 0.8rem;
  }
  .Footer {
    margin-top: 80px;
  }
}
