.NavigationItem a {
  display: flex;
  padding: 1rem;
  height: 70px;
  align-items: center;

  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 5px solid transparent;

  transition: all 0.2s ease-in;
}

.NavigationItem a:hover {
  border-bottom-color: black;
  background-color: rgba(0, 0, 0, 0.109);
}
.NavigationItem .active {
  border-bottom-color: black;
  background-color: rgba(0, 0, 0, 0.041);
}
