.Flower {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.roses {
  background-image: url(../../../../assets/rose.png);
  background-size: cover;
}

.jasmine {
  background-image: url(../../../../assets/jasmine.png);
  background-size: cover;
}

.daisies {
  background-image: url(../../../../assets/dairy.png);
  background-size: cover;
}

.lilies {
  background-image: url(../../../../assets/lily.png);
  background-size: cover;
}

.irises {
  background-image: url(../../../../assets/irise.png);
  background-size: cover;
}

.liliesOfTheValley {
  background-image: url(../../../../assets/png-transparent-shamrock-scalable-graphics-saint-patrick-s-day-shamrock-s-leaf-plant-stem-wikimedia-commons.png);
  background-size: cover;
}

@media (max-width: 600px) {
  .Flower {
    width: 20px;
    height: 20px;
  }
}
