.Button {
  width: 120px;
  height: 40px;
  font-size: 1rem;
  border: none;
  margin-right: 10px;
  background-color: white;
  color: #577e4e;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
  margin-left: 20px;
}

.Button:disabled {
  opacity: 0.5;
}

.Button:not(:disabled):hover {
  opacity: 0.8;
}

.green {
  background-color: #2c4f21ea;
  color: white;
  border: 1px solid transparent;
}
.red {
  background-color: rgba(117, 11, 11, 0.904);
  color: white;
}

@media (max-width: 700px) {
  .Button {
    margin-bottom: 40px;
  }
}
