.Navigation {
  list-style-type: none;
  display: flex;
  margin: 10px 0;
  padding: 0;
  flex-direction: column;
}

@media (min-width: 650px) {
  .Navigation {
    margin: 0 12px;
    flex-direction: row;
  }
}
