.Bouquet {
  padding: 0 0.5rem;
}

.Bouquet .bento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;

  background-image: url(../../../assets/3b34a078-ec6a-4266-b5b0-851917c4a309.jpg);
  background-size: cover;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding-bottom: 0;
}

.Bouquet .price {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #397834;
  font-family: "Tangerine", cursive;
}

.Bouquet .flowerBento {
  position: relative;
  width: 220px;
  height: 140px;
  border: 1px solid transparent;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  overflow: hidden;
  background-color: transparent;
  margin-bottom: 59px;
  margin-left: 65px;
}

@media (max-width: 700px) {
  .Bouquet .bento {
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;

    background-image: url(../../../assets/3b34a078-ec6a-4266-b5b0-851917c4a309.jpg);
    background-size: cover;
    width: 300px;
    height: 350px;

    margin: 0 auto;
  }
}
