.Bouquet {
  padding: 0 .5rem;
}

.Bouquet .bento {
  padding: 1rem;
  padding-top: 2rem;

  background-image: url(../../../assets/unnamed.jpg);
  background-size: cover;
  width: 500px;
  height: 300px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  overflow: hidden;
}
.Bouquet .price {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
